.common-header-wrapper{
    position:fixed;
    z-index:1;
    .header-logo{
        padding:30px 20px;
        // background: );
        background-size: cover;
        width:30px;
        height:67px;
    
    }
}
